<div class="board">
    {{#each board_list }}
  <div class="card" id ="{{@key}}">
        <div class="card-header">{{@key}}</div>
        <ul class="list-group list-group-flush">
      {{#each this }}
      <a  href="/edit/{{this.id}}">
        <li class="list-group-item draggable" draggable="true" id ="{{this.id}}">{{ this.name}}</li>
        </a>
    </ul>
      {{/each}}
  </div>
    {{/each}}
    <a class="btn btn-primary" href="/task?board={{board.id}}" role="button">Add</a>
    <a class="btn btn-primary" href='/board/{{board.id}}/delete' role="button">Delete</a>
</div>












